<!--<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
     
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if public_user_signed_in? %>
            <%= link_to(destroy_public_user_session_path, :method => :delete) do %>
              <span class="glyphicon glyphicon-remove-circle" data-toggle="tooltip" data-placement="bottom" title="Sign Out"></span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title >Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%if current_user%>
      <%= link_to 'Dashboard', root_path, class: 'navbar-brand' %>
      <%end%>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
      </ul>
      
       <ul class="nav navbar-nav navbar-right">
        <li>
          <% if public_user_signed_in? %>
            <%= link_to(destroy_public_user_session_path, :method => :delete) do %>
              <span class="glyphicon glyphicon-remove-circle" data-toggle="tooltip" data-placement="bottom" title="Sign Out"></span>
            <% end %>
            <%else%>
              <%= link_to 'Sign In', new_public_user_session_path%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>


</body>
</html>
