

<% digits = Array(1..20) %>
<% roles=Array(0..6)%>
<% facility=["facility","facility","facility","facility","facility","facility"]%>

<div class="row ">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :packagename %>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :days, collection: 1..20,prompt: "Select Days",  input_html: {id: "days"}%>
  </div>
</div>


<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :nights, collection: 1..20, prompt: "Select Nights", input_html: {id: "nights"}%>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :placename %>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :category %>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :facility %>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <%= form.input :price %>
  </div>
</div>

 <script type="text/javascript"> 
                    $(function() {
                      $('#days').change(function() {

                        $("#nights").append("");
                        var select = $('#nights');
                        select.empty().append('<option value="">--Select Nights--</option>');
                        var selectval = this.value;
                        var alreadySelected = selectval;
                        var one = 1;
                        var min = selectval-one;
                        var max= ++selectval;
                        //alert(max);
                         $("#nights").append("<option>"+min+"</option><option>"+alreadySelected+"</option><option>"+max+"</option>");
                      });
                    });
                    </script>

<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
   <%= form.input :myimage %>
  </div>
</div>
<br/>



