<% for package in @all_packages %>
	<div class="module_item">
		<div class="item_name">
			<%= link_to package.placename, :controller => 'admin/add_packages', :action => 'edit', :id => package.id %>
		</div>
		<div class="module_item_actions">
			<p> 
				
					<%= link_to :action => "edit", :id => package.id do %>
					<span class="glyphicon glyphicon-edit"></span>
					<% end %>

				<%= link_to(url_for(:controller => 'admin/add_packages', :action => 'destroy', :page_id => package.id, :page => params[:page]), :format => :js, :remote => true, data: { confirm: 'Are you sure?' }) do %>
					<span class="glyphicon glyphicon-trash"></span>
				<% end %>

				<!--<%= link_to(url_for(:controller => 'admin/add_packages', :action => 'move_up', :page_id => package.id, :page => params[:page]), :format => :js, :remote => true) do %>
					<span class="glyphicon glyphicon-circle-arrow-up"></span>
				<% end %>
				<%= link_to(url_for(:controller => 'admin/add_packages', :action => 'move_down', :page_id => package.id, :page => params[:page]), :format => :js, :remote => true) do %>					
					<span class="glyphicon glyphicon-circle-arrow-down"></span>
				<% end %>-->
			</p>
		</div>
		<div class="clearboth"></div>
	</div>
<% end %>