<%= render :partial => 'admin/template/form_errors', :object => @all_packages %>
<%= simple_form_for @all_packages, :url => url_for(:controller => 'admin/add_packages', :action => 'update'), :method => 'put', :html => { :role => "form" } do |form| %>
	<%= @all_packages.id%>
	<%= render :partial => 'form', :object => form %>
	<div class="col-sm-5 col-sm-offset-3">
	<%= submit_tag 'Submit Page', :class => 'btn btn-primary col-sm-5 col-sm-offset-3' %>
    </div>
<% end %>