
<div class="module_list">
	<div class="module_actions">
		<h2>Packages</h2>
		<div class="action_items">
			<%= link_to new_admin_add_package_path do %>
				<p><span class="glyphicon glyphicon-plus"></span></p>
			<% end %>
		</div>
		<div class="clearboth"></div>
	</div>
	<div class="module_partial">
		<% if @all_packages.blank? %>
			<h3>No packages have been added yet.</h3>
		<% else %>
			<%= render :partial => 'list' %>
		<% end %>
		<%= will_paginate @all_packages, renderer: BootstrapPagination::Rails %>
	</div>
</div>