<%= render :partial => 'admin/template/form_errors', :object => @all_packages %> 
<div class="container">
<div class="form-signin-heading">
<div class="panel panel-default">
<div class="panel-heading"><h3 class="panel-title"><strong>Add Package </strong></h3></div>
<br/>
<br/>
<%= simple_form_for @all_packages, :url => url_for(:controller => 'admin/add_packages', :action => 'create'), :method => 'post', :html => { :role => "form" } do |form| %>

	<%= render :partial => 'form', :object => form %>
	<div class="col-sm-5 col-sm-offset-3">
	<%= submit_tag 'Submit Page', :class => 'btn btn-primary col-sm-5 col-sm-offset-3' %>
	</div>
	<br/>
	<br/><br/>
	<br/>
<% end %>
</div>
</div>
</div>
</div>