<div class="module_list">
	<div class="module_actions">
		<h2><%= @all_packages.placename %> Posts</h2>
		<div class="action_items">
			<%= link_to(url_for(:controller => 'admin/add_packages', :action => 'new', :id => @all_packages.id)) do %>
				All Packages <span class="glyphicon glyphicon-plus"></span>
			<% end %>
		</div>
		<div class="clearboth"></div>
	</div>
	<div class="module_partial">
		<%= render :partial => 'admin/modules/posts', :object => @all_packages %>
	</div>
	<%= will_paginate @all_packages, renderer: BootstrapPagination::Rails %>
</div>