<% unless current_user.blank? %>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-home"></span></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/admin/pages">Pages</a></li>
          <li><a href="/admin/posts">Posts</a></li>
          <li><a href="/admin/users">Users</a></li>
          <li><a href="/admin/public_users">Public Users</a></li>
          <li><a href="/admin/add_packages">Packages</a></li>

         <!-- <li class="drop-down-sub"><a class="dropdown-toggle" data-toggle="dropdown">Packages</a>
          
              <ul class="dropdown-menu">
                <li><a href="/admin/add_packages">Add Package</a></li>
                <li><a href="#">Edit Package</a></li>
                <li><a href="#">Delete Package</a></li>
              </ul></li>
          <li><a href="/admin/add_packages">Inquiried Customers</a></li>-->
        
          
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
              <li><a href="/configurations"><span class="glyphicon glyphicon-adjust"></span> Configuration</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
             <%= link_to(destroy_user_session_path, :method => :delete) do %>
              <span class="glyphicon glyphicon-remove-circle" data-toggle="tooltip" data-placement="bottom" title="Sign Out"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
          <script type="text/javascript">
            /*$(document).ready(function(){
             
              $(".dropdown-toggle").mouseover(function(){
                  $(".dropdown-menu").slideDown('slow');
              })
                      
               $(".drop-down-sub").mouseleave(function () {
               $(".dropdown-menu").slideUp('slow');
              });
              });*/
          </script>

