
<%= render :partial => 'template/alerts' %>
<div class="col-sm-8">
<%= image_tag("tourism.jpg", :alt => "Travel system") %>
</div>
<div class="col-sm-4">
	<div class="form-signin-heading pull-right">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
				<div class="panel-body">
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<div class="form-inputs">
							<%= f.input :email, required: false, autofocus: true %>
							<%= f.input :password, required: false %>
							<div class="left_padding">
							<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
							</div>
						</div>

						<div class="form-actions">
							<%= f.button :submit, "Log in" , :class => 'btn btn-primary'%>
						</div>
					<% end %>
					<%= render "public_users/shared/links" %>
			</div>
		</div>
	</div>
</div>
