<h5>

<br/>
<br/>
<br/><br/>
<caption align="top"><b>Result for Packages</b></caption>
</h5>
<br/>
<table class="table table-bordered">

   <!-- On rows -->
   <tr>
<th class="">Sr. No.</th>
<th class="">Package Name</th>
<th class="">Category</th>
<th class="">Days</th>
<th class="">Nights</th>
<th class="">Place</th>
<th class="">Package</th>
</tr>
<!-- On cells (`td` or `th`) -->
<%row=1%>
<%index=0%>
<%@count.to_i.times do %>
<tr>
  <td class=""><%= row%></td>
  <td><%= @packagename[index]%></td>
  <td class=""><%= @category[index]%></td>
  <td class=""><%= @days%></td>
  <td class=""><%= @nights%></td>
  <td class=""><%= @place%></td>
  <td class="">Rs. <%= @price[index]%></td>
</tr>
<%row+=1%>
<%index+=1%>
<%end%>
</table>

