<div class="container">
  <% digits = Array(1..20) %>
  <%arrayplace= AddPackage.distinct.pluck(:placename)%>
  <div class="dropdown">
    <%if(@user=="yes")%>
    
    

       <%= form_tag pages_result_path, method: :new do |f| %> 
        
              <p>
              <%= select_tag(:days,  options_for_select(digits),{:prompt => "--select days--"})%>
                      <script type="text/javascript"> 
                        $(function() {
                          $('#days').change(function() {

                            $("#nights").append("");
                            var select = $('#nights');
                            select.empty().append('<option value="">--Select Nights--</option>');
                            var selectval = this.value;
                            var alreadySelected = selectval;
                            var one = 1;
                            var min = selectval-one;
                            var max= ++selectval;
                            //alert(max);
                             $("#nights").append("<option>"+min+"</option><option>"+alreadySelected+"</option><option>"+max+"</option>");
                          });
                        });
                        </script>
              <%= select_tag(:nights,options_for_select(digits), {:prompt => "--select nights--"}) %>      
              <%= select_tag(:place,  options_for_select(arrayplace),{:prompt => "--select place--"}) %>
              </p>
                <%= submit_tag 'Search Package Info', class: 'btn btn-primary' %> </p>
                <br/><br/><br/>
               <%end%>
           
    <%end%>
  </div>
</div>    