<% for @post in @posts %>
	<div class="module_item">
		<div class="item_name">
			<%= link_to @post.title, :controller => 'admin/posts', :action => 'edit', :id => @post.id, :page_id => @post.page.id %>
		</div>
		<div class="module_item_actions">
			<p>
				<!-- Some duplication here -->
				<% if params[:show_posts] == 'true' || (params[:controller] == 'admin/pages' && params[:action] == 'show_posts') %>
					
					<%= link_to(url_for(:controller => 'admin/posts', :action => 'publish', :post_id => @post.id, :show_posts => true, :id => @post.page_id, :page => params[:page]), :format => :js, :remote => true) do %>
						<span class="glyphicon glyphicon-ok <%= @post.published == true ? '' : 'dead' %>"></span>
					<% end %>

					<%= link_to :controller => 'admin/posts', :action => "edit", :id => @post.id, :page_id => @post.page.id do %>
						<span class="glyphicon glyphicon-edit"></span>
					<% end %>

					<%= link_to(url_for(:controller => 'admin/posts', :action => 'destroy', :post_id => @post.id, :show_posts => true, :id => @post.page_id, :page => params[:page]), :format => :js, :remote => true, data: { confirm: 'Are you sure?' }) do %>
						<span class="glyphicon glyphicon-trash"></span>
					<% end %>

					<%= link_to(url_for(:controller => 'admin/posts', :action => 'move_up', :post_id => @post.id, :show_posts => true, :id => @post.page_id, :page => params[:page]), :format => :js, :remote => true) do %>
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
					<% end %>

					<%= link_to(url_for(:controller => 'admin/posts', :action => 'move_down', :post_id => @post.id, :show_posts => true, :id => @post.page_id, :page => params[:page]), :format => :js, :remote => true) do %>					
						<span class="glyphicon glyphicon-circle-arrow-down"></span>
					<% end %>

				<% else %>

					<!-- Some duplication here -->
					<%= link_to(url_for(:controller => 'admin/posts', :action => 'publish', :post_id => @post.id, :page => params[:page]), :format => :js, :remote => true) do %>
						<span class="glyphicon glyphicon-ok <%= @post.published == true ? '' : 'dead' %>"></span>
					<% end %>

					<%= link_to :controller => 'admin/posts', :action => "edit", :id => @post.id do %>
						<span class="glyphicon glyphicon-edit"></span>
					<% end %>

					<%= link_to(url_for(:controller => 'admin/posts', :action => 'destroy', :post_id => @post.id, :page => params[:page]), :format => :js, :remote => true, data: { confirm: 'Are you sure?' }) do %>
						<span class="glyphicon glyphicon-trash"></span>
					<% end %>

					<%= link_to(url_for(:controller => 'admin/posts', :action => 'move_up', :post_id => @post.id, :page => params[:page]), :format => :js, :remote => true) do %>
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
					<% end %>

					<%= link_to(url_for(:controller => 'admin/posts', :action => 'move_down', :post_id => @post.id, :page => params[:page]), :format => :js, :remote => true) do %>					
						<span class="glyphicon glyphicon-circle-arrow-down"></span>
					<% end %>

				<% end %>
			</p>
		</div>
		<div class="clearboth"></div>
	</div>
<% end %>