<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Email</label>
      <%= form.text_field :email, :class => "form-control", :placeholder => "Email Address" %>
    </div>
  </div> 
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Password</label>
      <%= form.text_field :password, :class => "form-control", :placeholder => "Secret Password", :type => "password" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label>Password Confirmation</label>
      <%= form.text_field :password_confirmation, :class => "form-control", :placeholder => "Secret Password", :type => "password" %>
    </div>
  </div>
</div>