<!-- Banner Modules -->
<% content_for :banner_top do %>
<% end %>

<% content_for :banner_bottom do %>
<% end %>


<!-- Center Modules -->
<% content_for :page_top do %>
<% end %>

<% content_for :page_bottom do %>
<% end %>

<% content_for :after_posts do %>
<% end %>



<!-- Side Modules -->
<% content_for :side_left do %>
<% end %>

<% content_for :side_right do %>
<% end %>