class <%= parent_model_name %> < ActiveRecord::Base
	acts_as_list
	validates :name, :presence => true

	# has_attached_file :image, :styles => { :large => "800x800>", :medium => "250x250#", :thumb => "150x150#" }, :default_url => "/images/:style/missing.png"
 #  validates_attachment_content_type :image, :content_type => /\Aimage\/.*\Z/

  MODULE_TITLE    = '<%= "#{parent_name.capitalize}" %>'

  def label
  	'<%= "#{parent_name}" %>'
  end

  def form_title
  	name.downcase.gsub(' ', '_')
  end

end