<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>CMS Admin</title>
      <meta name="description" content="">
      <meta name="viewport" content ="width=device-width; initial-scale=1.0;">

		  <%= stylesheet_link_tag  "admin/application", media: "all", "data-turbolinks-track" => true %>
		  <%= yield :stylesheets %>

		  <%= csrf_meta_tags %>
		  <%= javascript_include_tag "admin/application", "data-turbolinks-track" => true %>
		  <%= textile_editor_initialize %>
<!--https://desolate-savannah-3236.herokuapp.com/assets/-->

    </head>
    
    <body>
			<%= render :partial => 'admin/template/menu.html.erb' %>
			<div class="admin_content">
				<div class="container">
					<%= render :partial => 'admin/template/breadcrumbs' %>
					<%= render :partial => 'admin/template/alerts' %>
					<div class="admin_body">
						<%= yield %>
					</div>	
					<div class="copyright">
						<%= Time.now.year %> &copy; CMS Admin
						<br>
						By  <a href="https://www.techspawn.com">Techspawn Solutions</a>
					</div>
				</div>
			</div>

	</body>
</html>
