<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	  <title>Cms <%= @page_title.blank? ? '' : "| #{@page_title}" %></title>
	  <meta name="description" content="<%= @page_description.blank? ? '' : @page_description %>">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	  <%= stylesheet_link_tag  "public/application", media: "all", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>

	  <%= javascript_include_tag "public/application", "data-turbolinks-track" => true %>

	<!--https://desolate-savannah-3236.herokuapp.com/assets/-->
	</head>
	<body>
		<%= render :partial => 'template/menu' %>
		<!--<%= yield :banner_top %>
		<%= render :partial => 'template/alerts' %>
		<div class="container">
			<%= yield %>
		</div>
		<%= yield :banner_bottom %>-->
	</body>
</html>